<template name="fishermanRegister">
	<h2>Fisherman Registration</h2>
	<form class="register">
		<p>First Name: <input type="text" name="firstName" required></p>
		<p>Last Name: <input type="text" name="lastName" required></p>
		<p>Phone: <input type="text" name="phone" placeholder="(xxx)xxx-xxxx" required></p>
		<p>Licence Location: <input type="text" name="licLoc" required></p>
		<p>License Name: <input type="text" name="licName" required></p>
		<p>Licence Number: <input type="text" name="licNum" required></p>
		<p>Licence Expiration</p>
		<select name="licDay">
			{{{licExDaySelect}}}
		</select>
		<select name='licMonth'>
			<option value=1>January</option>
			<option value=2>February</option>
			<option value=3>March</option>
			<option value=4>April</option>
			<option value=5>May</option>
			<option value=6>June</option>
			<option value=7>July</option>
			<option value=8>August</option>
			<option value=9>September</option>
			<option value=10>October</option>
			<option value=11>November</option>
			<option value=12>December</option>
		</select>
		<select name="licYear">
			{{{licExYearSelect}}}
		</select>
		<p>Email: <input type="email" name="email" required></p>
		<p>Password: <input type="password" name="password" required></p>
		<p><input type="submit" value="Register"></p>
	</form>
</template>