<template name="consumerProfile">
  <div class="main row">
  	{{#with formData}}
  	<form class="form-horizontal consumerProfile">
  		<div class="center"><h2>Personal Info</h2></div>

      <div class="form-group">
        <label for="displayName" class="col-sm-4">Display Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Display name" name="displayName" value={{displayName}}>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName" class="col-sm-4">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="First name" name="firstName" value={{firstName}}>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="col-sm-4">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Last name" name="lastName" value={{lastName}}>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-4">Phone</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Phone" name="phone" value={{phone}}>
        </div>
      </div>

      <div class="form-group">
        <label for="bio" class="col-sm-4">Bio</label>
        <div class="col-sm-8">
          <textarea type="text" class="form-control" placeholder="Tell us about yourself" name="bio">{{bio}}</textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-sm-4">Location</label>
        <div class="col-sm-8">
          <select name='loc'>
            <option value="All of Oahu">All of Oahu</option>
            <option value="Town">Town</option>
            <option value="North Shore">North Shore</option>
          </select>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-default">Save Changes</button>
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>
