<template name='baseLayout'>
  <div class="row" id="nav-container">
    <div class="col-md-4 col-md-offset-4" id="header">
      <div class="row">
        <div class="col-md-4 col-md-offset-4" id="logo">
          <h1>Fresher</h1>
        </div>
        <div class="col-md-4" id="login">
          <div class="dropdown">

          {{#if currentUser.fisherman}}
            {{> fishermanHeader}}
          {{else}}
              {{#if currentUser}}
                 {{> consumerHeader}}
              {{else}}
                <button class="btn btn-default btn-md dropdown-toggle menu" type="button" data-toggle="dropdown">Log In/Register<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                  <li role="registerFisherman"><a role="menuitem" tabindex="-1" href="/fishermanRegister">Register a Fisherman</a></li>
                  <li role="registerConsumer"><a role="menuitem" tabindex="-1" href="/consumerRegister">Register a Consumer</a></li>
                  <li role="divider" class="divider"></li>
                  <li role="menuitem" tabindex="-1">{{>loginButton}}</li>
                </ul>
              {{/if}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="container">
      {{>yield}}
    </div>
  </div>

  </div>
</template>
