<template name="ad">
<div>
  <div class="row" id="ad" data-id="{{ _id }}">
    <div class="col-md-6">
    	<h4 class="toUpper">{{ firstName }} {{lastName}}</h4><h5>{{ phone }}</h5>
    </div>
    <div class="col-md-6">
      <p>DATE</p>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2" >
      <img src="https://s-media-cache-ak0.pinimg.com/736x/ca/47/94/ca4794cfada458717c7aa99093a1f425.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5>Species</h5>
        <h4>{{ fish }}</h4>

        <h5>Quantity</h5>
        <h4>{{ quantity }}</h4>

      </div>
      <div class="col-md-6">
        <h5>Size</h5>
        <h4>{{ size }}</h4>
        <h5>Price</h5>
        <h4>{{ price }}</h4>
        <h4>{{perPound}} - {{wholeFish}}</h4>
        <h4>{{loc}} - </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{addDet}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <button type="button" class="btn btn-default"><a href='/ad/{{_id}}'>CONTACT</a></button>
      </div>
    </div>

  </div>
</div>
</template>
