body {
  background-color: #039cd8;
}
a {
  text-decoration: none;
  color: black;
}
img {
  height: 300px;
  width: 300px;
}
.btn {
  background-color: #039cd8;
}
#nav-container {
  background-color: #dbdbdb;
  height: 75px;
}
#header {
  background-color: #dbdbdb;
  height: 75px;
  display: inline-block;
}
#container {
  background-color: #039cd8;
  margin-top: 20px;
}
#menu {
  margin-top: 20px;
  background-color: #039cd8;
  color: white;
}
#ad {
  background-color: white;
  margin: 10px;
  padding: 15px;
}
.toUpper {
  text-transform: uppercase;
}
.center {
  position: absolute;
  width: 300px;
  margin: 0 auto;
}
.divider {
  border-top: 1px black solid;
  padding-bottom: 5px;
}

@media(min-width:680px){

}