body {
  background-color: #039cd8;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  padding: 0 20px;
}
h5 {
  text-transform: uppercase;
}
h4 {
  color: #039cd8;
}
.btn {
  background-color: #039cd8;
  width: 132px;
}
#nav-container {
  background-color: #dbdbdb;
  height: 75px;
}
#header {
  background-color: #dbdbdb;
  height: 75px;
  display: inline-block;
}
#container {
  background-color: #039cd8;
  margin-top: 20px;
}
.menu {
  margin-top: 23px;
  color: white;
}
.toUpper {
  text-transform: uppercase;
}
.divider {
  border-top: 1px black solid;
  padding-top: 5px;
  margin-top: 15px;
}
.center {
  text-align: center;
}
.welcome {
  font-size: 15px;
  padding-top: 10px;
}
@media(max-width:370px){

}